<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Management System</title>
</head>
<body>
<div align="center">
  <h1>Employee List</h1>
    <table>
        <thead>
        <tr>
            <th>Employee Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Salary</th>
        </tr>
        </thead>
        <tbody>
           <tr th:each ="Employee : ${listemployee}"> </tr>
           <td th:text="${Employee.EmployeeName}"></td>
           <td th:text="${Employee.Email}"></td>
           <td th:text="${Employee.PhoneNumber}"></td>
           <td th:text="${Employee.Salary}"></td>
        </tbody>
    </table>

</div>

</body>
</html>